# Python Programming

## Maaz Ali Nadeem

BS AI ~ 
FAST NUCES Islamabad

## 1) Variables in Python

Cannot Use..
and, as, assert, break, class, continue, def, del, elif, else, except, 
exec, finally, for, from, global, if, import, in, is, lambda, not, or,
pass, print, raise, return, try, while, with, yield

In [61]:
a = 20
my_age = 20
_age = a

print(a)
print(my_age)
print(_age)

20
20
20

In [62]:
#Check the type of a variable
type(_age)

int

In [63]:
_age = "20"
type(_age)

str

In [64]:
_age = 20.0
type(_age)

float

In [65]:
_age = False
type(_age)

bool

In [66]:
_age = 1.0 + -0.5j
print(type(_age))
print(_age)

print(_age.real)
print(_age.imag)

<class 'complex'>
(1-0.5j)
1.0
-0.5

In [67]:
#use the 'is' check to see if the type of a variable matches what we are comparing with

print(type(_age) is bool)
print(type(_age) is complex)

False
True

## 2) Type Casting in Python

In [68]:
age = 19.5
print(type(age))

<class 'float'>

In [69]:
age = int(age)
print(age)
print(type(age))

19
<class 'int'>

In [70]:
age = "19.5"

#cannot do age + 10
#solution: typcast to float then calculate

age = float(age)
age += 10

print(age)

29.5

In [71]:
#Cannot Do This
age = "a19.5"

age = float(age)

ValueError: could not convert string to float: 'a19.5'

## 3) Arithmetics & Comparisons

In [24]:
print(5+2)
print(5-2)
print(5*10)
print(5/2)
print(5//2)
print(5**2)

7
3
50
2.5
2
25

In [72]:
#Comparisons
print(8>9)
print(12>10 and 11>10)

a = 10
print(a==10)

False
True
True

In [33]:
#Lists only have same values
list1 = [1,2,3,4,5]
list2 = [1,2,3,4,5]

print(list1 == list2)
print(list1 is list2)

True
False

In [32]:
#Lists have same value, and also refer to the same list
list1 = [1,2,3,4,5]
list2 = list1

print(list1 == list2)
print(list1 is list2)

True
True

## 4) Strings

In [73]:
var = "Assalam O Alaikum Dunya"

#find length of the variable (number of characters)
length = len(var)
print(length)

23

In [74]:
#Replace a particular word with another, in the string
var = var.replace("Dunya", "World")
var

'Assalam O Alaikum World'

In [75]:
print(var[0])
print(var[1])
print(var[3])
print(var[8])

A
s
a
O

In [76]:
#extract the world "Assalam"
temp1 = var[0:8]
temp1

'Assalam '

In [77]:
#Extract the words "Alaikum World"
temp2 = var[10:]
temp2

'Alaikum World'

In [78]:
#Extract the word "Alaikum"
temp3 = var[10:17]
temp3

'Alaikum'

In [79]:
#Take the Even Position Occurences of the string
temp4 = var[::2]
temp4

'AslmOAakmWrd'

In [80]:
#printing

print(var, "\n")
print(var, "We're at NUML!\n")
print(var, 20, False, "\n")


age = 20
print(var+"We're at NUML!\n")
print(var+" my age is: " + str(age))

Assalam O Alaikum World

Assalam O Alaikum World We're at NUML!

Assalam O Alaikum World 20 False

Assalam O Alaikum WorldWe're at NUML!

Assalam O Alaikum World my age is: 20

In [81]:
first_name = "Maaz"
second_name = "Ali"
last_name = "Nadeem"

full_name = first_name + " " + second_name + " " + last_name

print(full_name)

Maaz Ali Nadeem

## 5) Lists

In [82]:
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [83]:
#List Slicing (Same as string slicing)
print(list1[2:5])
print(list1[::2])

[3, 4, 5]
[1, 3, 5]

In [78]:
list2 = [1, "1", "one", 1.0]
print(list2)

[1, '1', 'one', 1.0]

In [80]:
list3 = [1,[2], [3,4,5],[[6,7], [8,9]]]
print(list3[3])

[[6, 7], [8, 9]]

In [1]:
#Converting a string into a list of characters
word = "Hello World"
list_word = list(word)
print(list_word)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [20]:
#Using the .append(val) function to add to the end
list4 = []

list4.append("A")
list4.append("B")

print(list4)

['A', 'B']

In [22]:
#Using the .insert(index,val) to insert at a particular index

list4.insert(1,"C")
print(list4)

['A', 'C', 'C', 'B']

In [23]:
#Delete Values

#1) Delete Particular Index
del list4[0]

print(list4)

#2) Delete First Occurence of a Particular Value
list4.remove("C")

print(list4)

['C', 'C', 'B']
['C', 'B']

In [93]:
list5 = [4,9,1,2,8,7,3]
list5.sort(reverse=True)
list5

[9, 8, 7, 4, 3, 2, 1]

## 6) Tuples

In [29]:
#immutable, used for unpacking
coord = (5,10)
x, y= coord

print("X: ", x)
print("Y: ", y)

X:  5
Y:  10

## 7) Dictionaries

In [84]:
dic={ "Pakistan" : 40, 
      "India"    : 145, 
      "China"    : 500, 
      "Mexico"   : "None"
    }

print(dic)

{'Pakistan': 40, 'India': 145, 'China': 500, 'Mexico': 'None'}

In [85]:
dic["Pakistan"]

40

In [86]:
dic["Pakistan"] = 38
dic

{'Pakistan': 38, 'India': 145, 'China': 500, 'Mexico': 'None'}

In [87]:
#Print the Key and Value Pair
for i, j in dic.items():
    print(i, " : ", j)

Pakistan  :  38
India  :  145
China  :  500
Mexico  :  None

In [88]:
#Add a new key value pair
dic["Turkey"] = 90

print(dic)

{'Pakistan': 38, 'India': 145, 'China': 500, 'Mexico': 'None', 'Turkey': 90}

In [35]:
#remove an exisiting Key Value Pair
dic.pop("Mexico")
print(dic)

{'Pakistan': 38, 'India': 145, 'China': 500, 'Turkey': 90}

In [89]:
#Nested Dictionary
Family = {
    
        "child1" : {
            "name":"Maaz", 
            "age":21
        }, 
    
        "child2" : {
            "name":"Ali", 
            "age": 19
        }
}

print("Family: ")
print(Family)

Family:
{'child1': {'name': 'Maaz', 'age': 21}, 'child2': {'name': 'Ali', 'age': 19}}

## 8) If - Else If - Else

In [4]:
age = input("Enter your age: ")
age = int(age)

if (age<18):
    print("You're too young for a license")
elif (age >= 18 and age <=60):
    print("You're eligible for a license")
else:
    print("You're too old for a license")

Enter your age: 19
You're eligible for a license

In [5]:
if (True and False):
    print("1")
else:
    print("2")

2

In [7]:
if (False or True):
    print("1")
else:
    print("2")

1

## 9) Loops

In [8]:
#basic for loop
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
#iterating lists
list1 = range(0,5)
list2 = list("Hello")

for x in list1:
    print(x)
    
print("\n\n")

for y in list2:
    print(y)

0
1
2
3
4



H
e
l
l
o

In [31]:
#iterate through dictionary items
countries = dic.keys()
countries = list(countries) 

for c in countries:
    print(c*3)

print("\n")

#iterate through a list by indexes, and raise it to the power of its value
list3 = [1,2,3,4,5]

for i in range(0,len(list3)):
    list3[i] = list3[i] ** list3[i]
    print(list3[i])

PakistanPakistanPakistan
IndiaIndiaIndia
ChinaChinaChina
MexicoMexicoMexico


1
4
27
256
3125

In [39]:
#iterate dictionaries

for key,value in dic.items():
    print(key, " -> ", value)

Pakistan  ->  40
India  ->  145
China  ->  500
Mexico  ->  None

In [38]:
#while loops
count = 0
times = 10
while (count<times):
    print(count+1, ") Pakistan Zindabad")
    count = count+1

1 ) Pakistan Zindabad
2 ) Pakistan Zindabad
3 ) Pakistan Zindabad
4 ) Pakistan Zindabad
5 ) Pakistan Zindabad
6 ) Pakistan Zindabad
7 ) Pakistan Zindabad
8 ) Pakistan Zindabad
9 ) Pakistan Zindabad
10 ) Pakistan Zindabad

In [34]:
#while loops

age = 30
commission = 0

while (age>18):
    commission += 100
    age-= 1
    
print(commission)

1200

In [40]:
#list comprehension

list1 = []
for i in range(0, 5):
    list1.append(i)
    
list1

[0, 1, 2, 3, 4]

In [43]:
list1 = [i+3 for i in range(0,5)]
list1

[3, 4, 5, 6, 7]

## 10) Functions

In [57]:
#Pass a name to a function to print a Hi statement with that name
def say_hi_to(name):
    print("Hi", name)
  
#Given an age, check if that age is eligible for a license, print relevant message
def eligibility(age):
    if (age<18):
        print("You're too young for a license")
    elif (age >= 18 and age <=60):
        print("You're eligible for a license")
    else:
        print("You're too old for a license")

#Print a given list/array in reverse
def reverse_print(list1):
    length = len(list1)
    length-=1
    
    while (length >= 0):
        print(list1[length])
        length -= 1

#Get details of a customer, and return as a tuple to unpack
def get_details():
    
    name = input("Enter Name: ")
    age = input("Enter Age: ")
    
    #convert into a tuple
    dets = (name, age)
    
    return dets

#check if a particular value exists in a list
def exists(list1, num):
    
    for val in list1:
        if (val == num):
            return True
    
    return False


#return the square of a number
def get_square(val):
    return val*val

In [45]:
#Say Hi to Usman
say_hi_to("Usman")

Hi Usman

In [47]:
#Check if a person aged 17 is eligible for license
eligibility(17)

You're too young for a license

In [49]:
#Print the given list in reverse
reverse_print([1,2,3,4,5])

5
4
3
2
1

In [55]:
#Get Details of a new employee
n1, a1 = get_details()

print("\nYour details are as follows:")
print(n1)
print(a1)

Enter Name: Maaz
Enter Age: 21

Your details are as follows:
Maaz
21

In [58]:
#Find the square of 9
sq = get_square(9)
sq

81

In [59]:
#Check if the number '9' exists in the given list
ex = exists([9,8,4,4], 9)
ex

True

## 11) Object Oriented Programming

In [13]:
#Basic Class Outline

class Dog:
    
    #constructor
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(self.name, "has been made")
        print(self.name, "is", age, "years old")
    
    def bark():
        print("Woof Woof")
        
    def getname(self):
        return self.name
    
    def getage(self):
        return self.age
    
    def setage(self, val):
        self.age = val
    
    def setname(self, n):
        self.name = n
        
    def agenextyear(self, age):
        return age+1
    
d1 = Dog("Dog1",13)
d2 = Dog("Dog2", 9)

Dog1 has been made
Dog1 is 13 years old
Dog2 has been made
Dog2 is 9 years old

In [22]:
#Composition
class Student:
    
    def __init__(self, name, age, score):
        self.name = name
        self.age = age
        self.score = score
        
    def getscore(self):
        return self.score
    
class Course:
    
    def __init__(self, name, maxstd):
        self.name = name; 
        self.maxstd = maxstd
        self.students = []
        
    def add_student(self, student):
        if len(self.students) < self.maxstd:
            self.students.append(student)
            print("Enrolled Successfully")
            return True
        print("Seats are full")
        return False
    
    
    def avgscore(self):
        
        val = 0
        for student in self.students:
            val += student.getscore()
            
        print("Average score:", val/len(self.students))
        return val/len(self.students)
        
        
S1 = Student("Maaz", 21, 80)
S2 = Student("Shehryar", 21, 96)
S3 = Student("Noor", 19, 75)

BigData = Course("Big Data Analytics", 5)
BigData.add_student(S1)
BigData.add_student(S2)
BigData.add_student(S3)
BigData.avgscore()

Enrolled Successfully
Enrolled Successfully
Enrolled Successfully
Average score: 83.66666666666667

83.66666666666667

In [33]:
#Inheritance

class Pet:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def details(self):
        print(f"I am {self.name} and I am {self.age} years old")
        
class Cat(Pet):
    def speak(self):
        print("Meow")
    
    def all_details(self):
        print("I am a Catto")
        self.details()
        
class Dog(Pet):
    def speak(self):
        print("Bark")
    
P1 = Pet("Tony", 18)
P1.details()


print("\n\n")


C1 = Cat("Tom", 30)
C1.details()
C1.all_details()
C1.speak()

I am Tony and I am 18 years old



I am Tom and I am 30 years old
I am a Catto
I am Tom and I am 30 years old
Meow

## 12) Libraries to Learn

#Data Processing, Cleaning
1) NumPy
2) Pandas

#Data Visualization
1) Matplotlib
2) Seaborn

#Data Scraping and Automation
1) BeautifulSoup (bs4)
2) Selenium

#Language Processing
1) NLTK

#Game Development
1) pygame

#Feature Extraction
1) skimage (Image Processing)
2) librosa (Audio Processing)

#Machine Learning
1) sklearn (SciKit Learn)
2) tensorflow
3) keras
4) pytorch